{% extends 'layout.html.twig' %}

{% block title %}Accueil{%endblock%}

{%block content %}


<div class="row">
    <div class="col-md-12">
        <h1>Erreur</h1>
        <p>Bonjour,
            Cette adresse n'existe pas.</p>
    </div>
</div>

{%  endblock %}
