{% extends 'layout.html.twig' %}

{% block title %}Contact{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Pour me contacter...</h1>
        Pour me contacter, c'est très simple, par
        <ul class="list-group">
            <li class="list-group-item">par mail à <a href="mailto:contact@dominiquesauvignon.eu&subject=WebSite" target="_blank">contact at dominiquesauvignon.eu</a></li>
            <li class="list-group-item">
                Géographiquement, je suis ici : <a href="https://www.google.fr/maps/place/5+Rue+de+Provence,+67300+Schiltigheim/@48.6089287,7.7630063,17z/data=!3m1!4b1!4m2!3m1!1s0x4796c87d380655b9:0xea24102387cc281f?hl=fr" target="_blank">Agrandir le plan</a>
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.0477776311504!2d7.763006250804882!3d48.60892872609182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c87d380655b9%3A0xea24102387cc281f!2s5+Rue+de+Provence%2C+67300+Schiltigheim!5e0!3m2!1sfr!2sfr!4v1454503752870" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

            </li>
            <li class="list-group-item">
                Mon CV est disponible ici : <a href="public/docs/Dominique_SAUVIGNON-CV-Développeur_Informatique.pdf" target="_blank" title="Cv de Dominique SAUVIGNON - Développeur web / Java">ici</a>
            </li>
        </ul>
    </div>
</div>


{% endblock %}
