{% extends 'layout.html.twig' %}

{% block title %}Diplômes{% endblock %}

{%block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Mes diplômes</h1>
        <ul class="list-group">
            <li class="list-group-item">2019 : Licence Professionnelle de Développeur d'Applications Orientée Objet - Java à l'UHA (Alsace)</li>
            <li class="list-group-item">2014 : DU Développeur Grands Systèmes à l'UHA (Alsace, 67)</li>
            <li class="list-group-item">2000 - DUT Informatique option Génie Informatique (IUT de Dijon, 21))</li>
            <li class="list-group-item">1998 : BTS Comptabilité et Gestion (Lycée Les Arcades à Dijon, 21))</li>
            <li class="list-group-item">1995 : BAC S option SVT (Lycée Carnot à Dijon, 21))</li>
        </ul>
    </div>
</div>
{% endblock %}
