{% extends 'layout.html.twig' %}

{% block title %}Accueil{%endblock%}

{%block content %}

<div class="row">
    <div class="col-md-12">
        <p class="moi">
            <img src="public/photo/2013_05_14--DominiqueSAUVIGNON_200.JPG" alt="Dominique SAUVIGNON" height="100px">
        </p>
        <h1>Je me présente...</h1>
        Je m'appelle Dominique SAUVIGNON, j'ai 44 ans et j'habite à coté de Strasbourg en Alsace...ça, c'est pour l'état civil.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Après m'être cherché et avoir acquis :
           <ul class="list-group">
            <li class="list-group-item">des connaissances et des compétences en développement, avec notamment les langages PHP (et son framework Symfony) et Python (avec son framework Django)</li>
            <li class="list-group-item">des connaissances en informatique général du fait de mon cursus d'ingénieur en cours</li>
           </ul>
        <p>
        <p>
        je viens de terminer en juin 2020 une licence professionnelle de Développeur d'Applications Orientées Objet où j'ai notamment appris / révisé :
            <ul class="list-group">
                <li class="list-group-item">les bases de bootstrap</li>
                <li class="list-group-item">à développer une application en Java, en console et via l'architecture microservice (MSA)</li>
                <li class="list-group-item">à développer une application mobile, sous Android, ou cross-plateform, via le framework React Native</li>
            </ul>
        </p>
        <p>
           C'est dans mon ADN d'être dans un processus de formation continue, d'ailleurs indispensable dans le monde du développement informatique,

           A présent, j'aimerais fournir à une entreprise mes compétences en analyse / développement dans le cadre de poste de développeur Java / Angular, avec pour ambition de devenir lead développeur.

           En effet, j'aime
            <ul class="list-group">
                <li class="list-group-item">les bonnes pratiques</li>
                <li class="list-group-item">maîtriser les choses. Les connaissances de surface ne me satisfont pas</li>
                <li class="list-group-item">transmettre</li>
            </ul>
            Merci de m'avoir lu. Au plaisir d'échanger :-)
        </p>
    </div>
</div>
{%endblock%}
